<nav class="fixed top-0 w-full z-50 px-8 py-6" data-aos="fade-up">
  <div class="max-w-7xl mx-auto flex justify-between items-center backdrop-blur-md bg-veyron-emerald/20 border border-veyron-gold/30 rounded-full px-10 py-4">
    
    <div routerLink="/" class="text-veyron-gold font-serif text-3xl tracking-tighter font-bold cursor-pointer">
      VEYRON
    </div>

    <ul class="hidden md:flex gap-8 text-white/80 font-medium">
      <li routerLink="/" class="hover:text-veyron-gold cursor-pointer transition-colors">Home</li>
      
      <li routerLink="/story" 
          routerLinkActive="text-veyron-gold" 
          class="hover:text-veyron-gold cursor-pointer transition-colors">
        Our Story
      </li>
      
      <li routerLink="/menu" 
          routerLinkActive="text-veyron-gold" 
          class="hover:text-veyron-gold cursor-pointer transition-colors">
        Menu
      </li>

      <li routerLink="/location" 
          routerLinkActive="text-veyron-gold" 
          class="hover:text-veyron-gold cursor-pointer transition-colors">Locations</li>
    </ul>

    <button class="bg-veyron-gold text-veyron-emerald px-6 py-2 rounded-full font-bold hover:bg-veyron-emerald hover:text-veyron-gold transition-all">
      Order Now
    </button>
  </div>
</nav>